.main-footer{
  color: white;
  background-color: #23707D;
  /*font-family: Open Sans,Arial,sans-serif;*/
  font-weight: 100;
  font-size: 15px;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: auto;
 
}



