
/*body Container*/
.bodyContainer{
  max-width: 1080px !important;
  min-height: 83.0167px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 70px;
  padding-bottom: 70px;
  
}







