.mobilAdjustmentBaugruppen{
  box-sizing: border-box;
  display: flex;
  padding: 0px !important;
  align-content: center;
  justify-content: center;
}

.HomeBaurppenBild{
  margin-top: 0px !important;
  max-height: 495.8px !important;
  max-width: 518px !important;
  border-radius: .3rem !important;
 }

@media screen and (min-width: 395px) and (max-width:852px){
  .HomeBaurppenBild{
    max-width: 330px;
    border-radius: .3rem;
    display: flex;
   }
  
}

@media screen and (max-width: 394px) {
  .HomeBaurppenBild{
    max-width: 360px !important;
    border-radius: .3rem;
   }
  .mobilAdjustmentBaugruppen{
    box-sizing: border-box !important;
    max-width: 350px;
    padding: 0px !important;
    margin-bottom: 24px;
    
  }
  
}

.AnpassungCard{
  border: 0px !important;
}